@media all and (min-width: 1200px) and (max-width: 1600px){
	body{
	  	margin: 0px;
		font-family: Segoe UI;
	}

	/*-------------------------------------Header--------------------------------------*/
	.wrapper{
	  	display: grid;
	  	grid-template-columns: 2fr 2fr 2fr;
	  	grid-template-rows: 1fr 5fr;
	  	color: white;
	}

	#logoimg{
	  	width: 40px;
	  	vertical-align: bottom;
	  	margin-left: 20px;
	  	margin-right: 10px;
	  	max-width: 100%;
	  	height: auto;
	}

	#logo{
	  	font-size: 30px;
	  	grid-column-start: 1;
	  	grid-column-end: 2;
	  	grid-row-start: 1;
	  	grid-row-end: 2;
	  	padding-top: 13px;
	  	z-index: 1;
	}

	a{
	  	text-decoration: none;
	  	color: white;
	}

	#input{
	  	grid-column-start: 2;
	  	grid-column-end: 3;
	  	grid-row-start: 1;
	  	grid-row-end: 2;
	  	padding-top: 13px;
	  	z-index: 1;
	}

	input::-webkit-input-placeholder { 
	  	font-size: 0.6em !important;
	}
	input:-moz-placeholder { 
	  	font-size: 0.6em !important;
	}
	input::-moz-placeholder { 
	  	font-size: 0.6em !important;
	}
	input:-ms-input-placeholder { 
	  	font-size: 0.6em !important;
	}

	input:focus::-webkit-input-placeholder { 
	  	color: transparent !important;
		  border: none; 
		  border-width: 0; 
		  box-shadow: none;
	}
	input:focus:-moz-placeholder { 
	  	color: transparent !important;
		  border: none; 
		  border-width: 0; 
		  box-shadow: none;
	}
	input:focus::-moz-placeholder { 
	  	color: transparent !important;
		  border: none; 
		  border-width: 0; 
		  box-shadow: none;
	}
	input:focus:-ms-input-placeholder { 
	  	color: transparent !important;
		  border: none; 
		  border-width: 0; 
		  box-shadow: none;
	}

	input[type="text"] {
	  	display: block;
	  	border:  1px ;
	  	border-radius: 1.5rem;
	  	padding: 0.4rem 0.8rem;
	  	width: 90%;
	  	background: rgba(255, 255, 255, 0.45);
	  	background-image: url("search.png");
	  	background-position: 15px 7px;
	  	background-repeat: no-repeat;
	  	background-size: 20px 20px;
	  	color: white;
	  	font-family: Arial;
	  	text-align: center;
	  	font-size: 1.2em;
	  	margin: 0px auto;
	}

	#button{
		display: grid;
		grid-template-columns: 1fr 1fr;
	  	grid-column-start: 3;
	  	grid-column-end: 3;
	  	grid-row-start: 1;
	  	grid-row-end: 2;
	  	padding-top: 13px;
	  	z-index: 1;
	  	grid-gap: 12px;  
	}

	#buttona{
		grid-column-start: 1;
		margin-left: 95px;
	}

	#buttonb{
		grid-column-start: 2;
	}

	#button1{
	  	display: inline-block;
	  	background-color: white;
	  	color: black;
	  	padding: 10px 25px;
	 	box-shadow: 0px 2px 10px #1c1a19;
	  	border-radius: 2px;
	  	font-size: 17px;
	}

	#button1:hover{
	  	padding: 15px 30px;
	}

	#button2{
	  	display: inline-block;
	  	background-color: black;
	  	color: white;
	  	padding: 10px 25px;
	  	box-shadow: 0px 2px 10px #1c1a19;
	  	border-radius: 2px;
	  	font-size: 17px;
	}

	#button2:hover{
	  	padding: 15px 30px;
	}

	#poster{
	  	grid-column-start: 1;
	  	grid-column-end: 4;
	  	grid-row-start: 1;
	  	grid-row-end: 3;
	}

	@keyframes slidy {
		0% { left: 0%; }
		20% { left: 0%; }
		25% { left: -100%; }
		45% { left: -100%; }
		50% { left: -200%; }
		70% { left: -200%; }
		75% { left: -300%; }
		95% { left: -300%; }
		100% { left: -400%; }
	}

	div#slider { overflow: hidden; }
	div#slider figure img { width: 20%; float: left}
	div#slider figure { 
	  	position: relative;
	  	width: 500%;
	  	margin: 0;
	  	left: 0;
	  	text-align: left;
	  	animation: 18s slidy infinite; 
	}

	ul{
	  	list-style-type: none;
	  	padding: 0;
	}

	#menu{
	  	font-size: 12px;
	  	text-align: center;
	}

	.menulist{
		display: inline;
	 	padding: 0px 15px;
	  	border-right: 1px solid white;
	}

	.lli{
	  	border-right: none;
	}

	select{
	  	border: none;
	    -webkit-appearance: none;
	    background-color: transparent;
	    color: white;
	    background-image: url(Arrow.png);
	    background-repeat: no-repeat;
	    background-position: right;
	    cursor: pointer;

	}

	option{
		background-color: #4B4B4B;
	}	

	/*------------------------------------Nav---------------------------------*/


	.wrapper1{
	  	display: grid;
	  	grid-template-columns: 1fr 10fr 1fr;
	  	margin-bottom: 40px;
	}

	.item{
	  	grid-column-start: 2;
	  	grid-column-end: 3;
	}

	.item1{
	 	display: flex;
	 	margin: 0px;
	}


	@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
	figure{
	  	display: inline-block;
	}
	figure.inform {
	  	font-family: 'Raleway', Arial, sans-serif;
	  	color: #fff;
	  	position: relative;
	  	overflow: hidden;
	  	margin: 5px;
	  	height: auto;
	  	width: 18.5%;
	  	color: #ffffff;
	  	text-align: left;
	  	background-color: #07090c;
	  	font-size: 16px;
	  	-webkit-perspective: 50em;
	  	perspective: 50em;
	}
	figure.inform * {
	  	-webkit-box-sizing: border-box;
	  	box-sizing: border-box;
	}
	figure.inform img {
	  	opacity: 1;
	  	max-width: 100%;
	  	vertical-align: top;
	  	-webkit-transition-delay: 0.2s;
	  	transition-delay: 0.2s;
	  	-webkit-transition: all 0.3s ease-in;
	  	transition: all 0.3s ease-in;
	}
	figure.inform figcaption {
	  	position: absolute;
	  	top: 50%;
	  	left: 0;
	  	width: 100%;
	  	-webkit-transform: rotateX(90deg) translateY(-150%) scale(0.5);
	  	transform: rotateX(90deg) translateY(-150%) scale(0.5);
	  	z-index: 1;
	  	opacity: 0;
	  	padding: 0 30px;
	  	-webkit-transition: all 0.3s ease-out;
	  	transition: all 0.3s ease-out;
	}
	figure.inform h3,
	figure.inform p {
	  	line-height: 1.5em;
	}
	figure.inform h3 {
	  	margin: 0;
	  	font-weight: 800;
	  	text-transform: uppercase;
	}
	figure.inform p {
	  	font-size: 0.8em;
	  	font-weight: 500;
	  	margin: 0 0 15px;
	}
	figure.inform .read-more {
	  	border: 2px solid #ffffff;
	  	padding: 0.5em 1em;
	  	font-size: 0.8em;
	  	text-decoration: none;
	  	color: #ffffff;
	  	display: inline-block;
	}
	figure.inform .read-more:hover {
	  	background-color: #ffffff;
	  	color: #000000;
	}
	figure.inform:hover img,
	figure.inform.hover img {
	  	-webkit-transform: rotateX(-100deg) translateY(50%) scale(0.5);
	  	transform: rotateX(-100deg) translateY(50%) scale(0.5);
	  	opacity: 0;
	  	-webkit-transition-delay: 0;
	  	transition-delay: 0;
	}
	figure.inform:hover figcaption,
	figure.inform.hover figcaption {
	  	-webkit-transform: rotateX(0deg) translateY(-50%) scale(1);
	  	transform: rotateX(0deg) translateY(-50%) scale(1);
	  	opacity: 1;
	  	-webkit-transition-delay: 0.5s;
	  	transition-delay: 0.5s;
	}



	/*----------------------------Footer----------------------------*/
	#wrapper2{
	  	display: grid;
	  	grid-template-columns: 1fr 9fr 1fr 1fr;
	  	grid-template-rows: 2fr 1fr;
	  	background-color: #2B2828;
	  	color: white;
	  	font-size: 11px;
	}
	#footer{
	  grid-column-start: 2;
	  grid-column-end: 3;
	  grid-row-start: 1;
	  grid-row-end: 2;
	  display: flex;
	}
	#footer1{
	  margin-right: 80px;
	  cursor: pointer;
	}
	#divmedia{
	  grid-column-start: 3;
	  grid-column-end: 4;
	  grid-row-start: 1;
	  grid-row-end: 2;
	}
	.media{
	  margin-right: 10px;
	  width: 20px;
	  height: 20px;
	  cursor: pointer;
	}
	.face{
	  width: 10px;
	}
	#cre{
	  grid-column-start: 2;
	  grid-column-end: 4;
	  grid-row-start: 2;
	  grid-row-end: 2;
	  text-align: center;
	  font-size: 0.8em;
	  background-image: url(Line.png);
	  background-repeat: repeat-x;
	  background-position: top;
	}
}

@media all and (min-width: 768px) and (max-width: 1199px) {
	body{
	  	margin: 0px;
	  	font-family: Segoe UI;
	}

	.visible{
		display: none;
	}

	/*-----------------------------------Header--------------------------------------*/
	.wrapper{
	  	display: grid;
	  	grid-template-columns: 2fr 2fr 2fr;
	  	grid-template-rows: 1fr 1fr;
	  	color: white;
	}

	#logoimg{
	  	width: 40px;
	  	vertical-align: bottom;
	  	margin-left: 20px;
	  	margin-right: 10px;
	  	max-width: 100%;
	  	height: auto;
	}

	#logo{
	  	font-size: 30px;
	  	grid-column-start: 1;
	  	grid-column-end: 2;
	  	grid-row-start: 1;
	  	grid-row-end: 2;
	  	padding-top: 13px;
	  	z-index: 1;
	}

	a{
	  	text-decoration: none;
	  	color: white;
	}

	input[type="text"] {
	  	display: none;
	}

	#button{
		display: grid;
	  	grid-column-start: 3;
	  	grid-column-end: 3;
	  	grid-row-start: 1;
	  	grid-row-end: 2;
	  	padding-top: 13px;
	  	z-index: 1;
	  	grid-template-columns: 1fr 1fr;
	  	grid-column-gap: 12px;
	}

	#buttona{
		grid-column-start: 1;
	  	text-align: center;
	}

	#buttonb{
		grid-column-start: 2;
		width: 130px;
	}

	#button1{
	  	display: inline-block;
	  	background-color: white;
	  	color: black;
	  	padding: 10px 30px;
	  	box-shadow: 0px 2px 10px #1c1a19;
	  	border-radius: 2px;
	  	font-size: 17px;
	}

	#button1:hover{
	  	padding: 13px 33px;  	
	}

	#button2{
	  	display: inline-block;
	  	background-color: black;
	  	color: white;
	  	padding: 10px 30px;
	  	box-shadow: 0px 2px 10px #1c1a19;
	  	border-radius: 2px;
	  	font-size: 17px;
	}

	#button2:hover{
	 	padding: 13px 33px;
	}

	#poster{
	  	grid-column-start: 1;
	  	grid-column-end: 4;
	  	grid-row-start: 1;
	  	grid-row-end: 3;
	}

	@keyframes slidy {
		0% { left: 0%; }
		20% { left: 0%; }
		25% { left: -100%; }
		45% { left: -100%; }
		50% { left: -200%; }
		70% { left: -200%; }
		75% { left: -300%; }
		95% { left: -300%; }
		100% { left: -400%; }
	}

	div#slider { overflow: hidden; }
	div#slider figure img { width: 20%; float: left; }
	div#slider figure { 
	  	position: relative;
	  	width: 500%;
	  	margin: 0;
	  	left: 0;
	  	text-align: left;
	  	font-size: 0;
	  	animation: 18s slidy infinite; 
	}


	/*----------------------------------------Nav--------------------------------------*/

	.wrapper1{
	  	display: grid;
	  	grid-template-columns: 1fr 10fr 1fr;
	  	margin-bottom: 40px;
	}

	.item{
	  	grid-column-start: 2;
	  	grid-column-end: 3;
	}

	.item1{
	  	display: flex;
	  	margin: 0px;
	}

	#navimg{
	  	height: 300px;
	  	width: 200px;
	  	margin-right: 20px

	}

	@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
	figure{
	  	display: inline-block;
	}
	figure.inform {
	  	font-family: 'Raleway', Arial, sans-serif;
	  	color: #fff;
	  	position: relative;
	  	overflow: hidden;
	  	margin: 5px;
	  	width: 22%;
	  	color: #ffffff;
	  	text-align: left;
	  	background-color: #07090c;
	  	font-size: 12px;
	  	-webkit-perspective: 50em;
	  	perspective: 50em;
	}
	figure.inform * {
	  	-webkit-box-sizing: border-box;
	  	box-sizing: border-box;
	}
	figure.inform img {
	  	opacity: 1;
	  	max-width: 100%;
	  	vertical-align: top;
	  	-webkit-transition-delay: 0.2s;
	  	transition-delay: 0.2s;
	  	-webkit-transition: all 0.3s ease-in;
	  	transition: all 0.3s ease-in;
	}
	figure.inform figcaption {
	  	position: absolute;
	  	top: 50%;
	  	left: 0;
	  	width: 100%;
	  	-webkit-transform: rotateX(90deg) translateY(-150%) scale(0.5);
	  	transform: rotateX(90deg) translateY(-150%) scale(0.5);
	  	z-index: 1;
	  	opacity: 0;
	  	padding: 0 15px;
	  	-webkit-transition: all 0.3s ease-out;
	  	transition: all 0.3s ease-out;
	}
	figure.inform h3,
	figure.inform p {
	  line-height: 1.5em;
	}
	figure.inform h3 {
	  margin: 0;
	  font-weight: 800;
	  text-transform: uppercase;
	}
	figure.inform p {
	  font-size: 0.8em;
	  font-weight: 500;
	  margin: 0 0 15px;
	}
	figure.inform .read-more {
	  border: 2px solid #ffffff;
	  padding: 0.5em 1em;
	  font-size: 0.8em;
	  text-decoration: none;
	  color: #ffffff;
	  display: inline-block;
	}
	figure.inform .read-more:hover {
	  background-color: #ffffff;
	  color: #000000;
	}
	figure.inform:hover img,
	figure.inform.hover img {
	  -webkit-transform: rotateX(-100deg) translateY(50%) scale(0.5);
	  transform: rotateX(-100deg) translateY(50%) scale(0.5);
	  opacity: 0;
	  -webkit-transition-delay: 0;
	  transition-delay: 0;
	}
	figure.inform:hover figcaption,
	figure.inform.hover figcaption {
	  -webkit-transform: rotateX(0deg) translateY(-50%) scale(1);
	  transform: rotateX(0deg) translateY(-50%) scale(1);
	  opacity: 1;
	  -webkit-transition-delay: 0.5s;
	  transition-delay: 0.5s;
	}


	/*-------------------------------Footer------------------------------*/
	
	#wrapper2{
	  display: grid;
	  grid-template-columns: 1fr 9fr 1.5fr 1fr;
	  grid-template-rows: 2fr 1fr;
	  background-color: #2B2828;
	  color: white;
	  font-size: 0.6em;
	}
	ul{
	  	list-style-type: none;
	  	padding: 0;
	}
	#footer{
	  grid-column-start: 2;
	  grid-column-end: 3;
	  grid-row-start: 1;
	  grid-row-end: 2;
	  display: flex;
	}
	#footer1{
	  margin-right: 40px;
	  cursor: pointer;
	}
	#divmedia{
	  grid-column-start: 3;
	  grid-column-end: 4;
	  grid-row-start: 1;
	  grid-row-end: 2;
	}
	.media{
	  margin-right: 10px;
	  width: 20px;
	  height: 20px;
	  cursor: pointer;
	}
	.face{
	  width: 10px;
	}
	#cre{
	  grid-column-start: 2;
	  grid-column-end: 4;
	  grid-row-start: 2;
	  grid-row-end: 2;
	  text-align: center;
	  font-size: 0.8em;
	  background-image: url(Line.png);
	  background-repeat: repeat-x;
	  background-position: top;
	}
}

@media all and (max-width: 767px){ 
	
	body{
		margin: 0px;
		font-family: Segoe UI;
	}

	.visible{
		display: none;
	}
	/*Header*/
	.wrapper{
		display: grid;
		grid-template-columns: 2fr 2fr 2fr;
		grid-template-rows: 1fr 1fr;
		color: white;
	}

	#logoimg{
		width: 30px;
		vertical-align: bottom;
		margin-left: 5px;
		margin-right: 5px;
		max-width: 100%;
		height: auto;
	}
	#logo{
		font-size: 22px;
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 2;
		padding-top: 13px;
		z-index: 1;
		width: 130px;
	}

	a{
		text-decoration: none;
		color: white;
	}

	#input{
	  grid-column-start: 2;
	  grid-column-end: 3;
	  grid-row-start: 1;
	  grid-row-end: 2;
	  padding-top: 13px;
	  z-index: 1;
	}

	input[type="text"] {
	  	display: none;
	}

	#buttona{
		margin-left: 0px;
	}

	#button{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-start: 3;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
		padding-top: 13px;
		z-index: 1;
	}

	#buttona{
		grid-column-start: 1fr;
		width: 100px;
	}

	#buttonb{
		grid-column-start: 2fr;
		width: 100px;
	}

	#button1{
		display: inline-block;
	  	background-color: white;
	  	color: black;
	  	padding: 10px 25px;
	  	box-shadow: 0px 2px 10px #1c1a19;
	  	border-radius: 2px;
	  	font-size: 12px;
	}

	#button1:hover{
		display: inline-block;
	  	background-color: white;
	  	color: black;
	  	padding: 13px 28px;
	  	box-shadow: 0px 2px 10px #1c1a19;
	  	border-radius: 2px;
	  	font-size: 12px;
	}

	#button2{
		display: inline-block;
	  	background-color: black;
	  	color: white;
	  	padding: 10px 25px;
	  	box-shadow: 0px 2px 10px #1c1a19;
	  	border-radius: 2px;
	  	font-size: 12px;
	}

	#button2:hover{
		display: inline-block;
	  	background-color: black;
	  	color: white;
	  	padding: 13px 28px;
	  	box-shadow: 0px 2px 10px #1c1a19;
	  	border-radius: 2px;
	  	font-size: 12px;
	}

	#poster{
	  	grid-column-start: 1;
	  	grid-column-end: 4;
	  	grid-row-start: 1;
	  	grid-row-end: 3;
	}

	@keyframes slidy {
		0% { left: 0%; }
		20% { left: 0%; }
		25% { left: -100%; }
		45% { left: -100%; }
		50% { left: -200%; }
		70% { left: -200%; }
		75% { left: -300%; }
		95% { left: -300%; }
		100% { left: -400%; }
	}

	div#slider { overflow: hidden; }
	div#slider figure img { width: 20%; float: left; }
	div#slider figure { 
		position: relative;
		width: 500%;
		margin: 0;
		left: 0;
		text-align: left;
		font-size: 0;
		animation: 10s slidy infinite; 
	}

	
	#menu{
		font-size: 12px;
		text-align: center;
	}
	.menulist{
		display: inline;
		padding: 0px 15px;
		border-right: 1px solid white;
	}
	.lli{
		border-right: none;
	}
	
	/*------------------------Nav---------------------*/
	.wrapper1{
		display: grid;
		grid-template-columns: 1fr 10fr 1fr;
		margin-bottom: 40px;
	}

	.item{
		grid-column-start: 2;
		grid-column-end: 3;
	}

	.item1{
		display: flex;
		margin: 0
	}

	#navimg{
		height: 300px;
		width: 200px;
		margin-right: 20px

	}

	.visibleip{
		display: none;
	}

	@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
	figure{
		display: inline-block;
	}
	figure.inform {
	  	font-family: 'Raleway', Arial, sans-serif;
	  	color: #fff;
	  	position: relative;
	  	overflow: hidden;
	  	margin: 5px;
	  	width: 29%;
	  	color: #ffffff;
	  	text-align: left;
	  	background-color: #07090c;
	  	font-size: 10px;
	  	-webkit-perspective: 50em;
	  	perspective: 50em;
	}
	figure.inform * {
	  	-webkit-box-sizing: border-box;
	  	box-sizing: border-box;
	}
	figure.inform img {
	  	opacity: 1;
	  	max-width: 100%;
	  	vertical-align: top;
	  	-webkit-transition-delay: 0.2s;
	  	transition-delay: 0.2s;
	  	-webkit-transition: all 0.3s ease-in;
	  	transition: all 0.3s ease-in;
	}
	figure.inform figcaption {
	  	position: absolute;
	  	top: 50%;
	  	left: 0;
	  	width: 100%;
	  	-webkit-transform: rotateX(90deg) translateY(-150%) scale(0.5);
	  	transform: rotateX(90deg) translateY(-150%) scale(0.5);
	  	z-index: 1;
	  	opacity: 0;
	  	padding: 0 10px;
	  	-webkit-transition: all 0.3s ease-out;
	  	transition: all 0.3s ease-out;
	}
	figure.inform h3,
	figure.inform p {
	  	line-height: 1.5em;
	}
	figure.inform h3 {
	  	margin: 0;
	  	font-weight: 800;
	  	text-transform: uppercase;
	}
	figure.inform p {
	  	font-size: 0.8em;
	  	font-weight: 500;
	  	margin: 0 0 15px;
	}
	figure.inform .read-more {
	  	border: 2px solid #ffffff;
	  	padding: 0.5em 1em;
	  	font-size: 0.8em;
	  	text-decoration: none;
	  	color: #ffffff;
	  	display: inline-block;
	}
	figure.inform .read-more:hover {
	  	background-color: #ffffff;
	  	color: #000000;
	}
	figure.inform:hover img,
	figure.inform.hover img {
	  	-webkit-transform: rotateX(-100deg) translateY(50%) scale(0.5);
	  	transform: rotateX(-100deg) translateY(50%) scale(0.5);
	  	opacity: 0;
	  	-webkit-transition-delay: 0;
	  	transition-delay: 0;
	}
	figure.inform:hover figcaption,
	figure.inform.hover figcaption {
	  	-webkit-transform: rotateX(0deg) translateY(-50%) scale(1);
	  	transform: rotateX(0deg) translateY(-50%) scale(1);
	  	opacity: 1;
	  	-webkit-transition-delay: 0.5s;
	  	transition-delay: 0.5s;
	}

	/*-------------------------Footer--------------------*/
	#wrapper2{
		display: grid;
		grid-template-columns: 1fr 9fr 1fr 1fr;
		grid-template-rows: 2fr 1fr;
		background-color: #2B2828;
		color: white;
		font-size: 0.5em;
	}
	#footer{
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
		display: flex;
	}
	ul{
		list-style-type: none;
		padding: 0;
	}
	#footer1{
		margin-right: 20px;
		cursor: pointer;
		display: inline-block;
	}
	#divmedia{
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 2;
	}
	.media{
		margin-right: 10px;
		width: 20px;
		height: 20px;
		cursor: pointer;
	}
	.face{
		width: 10px;
	}
	#cre{
		grid-column-start: 2;
		grid-column-end: 4;
		grid-row-start: 2;
		grid-row-end: 2;
		text-align: center;
		font-size: 0.8em;
		background-image: url(Line.png);
		background-repeat: repeat-x;
		background-position: top;
	}
}